.about-product {
  background-color: #eeeeee;
  padding: 40px 0;
  &__second-title {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__sub-title{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: calc((100% - 20px) / 2);
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  &__done {
    width: 30px;
    margin-right: 20px;
  }
  &__container{
    @media screen and (min-width: 1196px) {
        max-width: 1248px;
    }
 
  }
}
.container {
}
.second-title {
}
.sub-title {
}
.text {
}
