.benefits {
  background-color: #eeeeee;
  &__second-title {
    text-align: center;
    padding: 20px 0 100px 0;
  }
  &__container{
    @media screen and (min-width: 1196px) {
        max-width: 1248px;
    }
 
  }
}

.benefits-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.card-benefits {
  @media screen and (min-width: 765px) {
    &{
        display: flex;
    }
    &:nth-child(2n){
        flex-direction: row-reverse
    }

  }
  @media screen and (min-width: 1196px) {
    &{
        width: calc((100% -  0px ) / 2);
    }
    &:nth-child(2n){
        flex-direction: row;
    }
    &:nth-child(-n + 2){
        flex-direction: row-reverse;
    }
  }
  &__info {
    padding: 40px;
    @media screen and (min-width: 765px) {
      padding: 30px;
    }
  }

  &__product {
    max-width: 100%;
    @media screen and (min-width: 765px) {
      height: 406px;
    }
  }
  &__sub-title {
    font-weight: 500;
    margin-bottom: 20px;
  }
}
