.benefits {
    background-color: #EEEEEE;
    &__second-title{
        text-align: center;
        padding: 20px 0 100px 0;
    }
}

.benefits-wrapper {
    background-color: #ffffff;
}
.card-benefits {

		&__info {
            padding: 40px 40px 40px 40px;
		}

		&__product {
            max-width: 100%;
		}
        &__sub-title{
            font-weight: 500;
            margin-bottom: 20px;
        }
}
