.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('../img/bg-block1.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  &__title {
    margin-bottom: 24px;
    @media screen and (min-width:768px) {
      font-size: 68px;
    }
  }
 
  &__second-title{
    font-size: 14px;
    @media screen and (min-width:768px) {
      font-size: 22px;
      font-weight: 300;
    }
  }
}
.hero__gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.7));
}

.container {
}
.logo-big {
  width: 275px;
  height: auto;
  margin-bottom: 50px;
}
