.jacket-main {
  background-color: #eeeeee;
  
}
.product {
  padding: 100px 0;
  // height: 100vh;
}
.product__container {

  @media screen and (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  @media screen and (min-width: 1196px) {
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
.container {
}
