.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
  &__item {
    display: block;
    width: calc((100% - 30px) / 2);
    padding: 5px 0;
    @media screen and (min-width: 1196px) {
      &{
        padding: 10px;
        width: calc((100% - 20px) / 4);
      }
    }
  }

  &__link {
  }

  &__image {
  }
}
